doctype html
html(lang="en")
  head
    link(href="https://fonts.cdnfonts.com/css/roboto" rel="stylesheet")           
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    style
      include styles.scss
  body
    a.back(href="/speakers") <  К списку спикеров
    div.container
      div.banner
        div.avatarContainer
          img.avatar(src=avatarImg, alt="avatar")
        div.mainInfo
          div.name #{name}
          div.companyName #{organization}
      div.info
        div.about
          div.title Обо мне
          div.text #{description}
        div.contacts
          div.contactsContainer
            div.titleSmall Телефон:
            div.text #{phone}
            div.titleSmall Почта:
            div.email #{email}



