doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title BaumanMeetups
    style 
      include main.scss
  body
    form.form(role='form' method='GET' action='/speakers')
      input.form-input(type='text' placeholder='Введите название компании' name='company' value=company)
      button.form-button(type="submit") Поиск 
    ul.cards
      each speaker in speakers
        div.card
          a.link(href='/speakers/' + speaker.id)
            div.imgContainer
              if speaker.status === "неактивный"
                img.greyAvatar(src=speaker.user.avatarImg, alt="preview")
              else
                img.avatar(src=speaker.user.avatarImg, alt="preview")
            div.content
              div.name #{speaker.user.name}
              div.info #{speaker.organization}
